######################
# Project Specific
######################
/target/classes/static/**

######################
# IntelliJ
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/
out/

######################
# Maven
######################
/log/
/target/

######################
# Package Files
######################
*.jar
*.war
*.ear
*.db

######################
# Maven Wrapper
######################
!.mvn/wrapper/maven-wrapper.jar